language: go
go:
 - 1.3.3
 - 1.4.2
 - 1.5.1
 - tip

script:
 - go test -v ./...
- go test -race -coverprofile=coverage.txt -covermode=atomic


after_success:
  - bash <(curl -s https://codecov.io/bash)
